body {
  font-size: 15pt;
  background: linear-gradient(to bottom, rgb(165, 93, 10), rgb(76, 134, 161),rgb(146, 135, 32));
  background-size: 200% 200%;
}

.inicio {
  text-align: end;
  font-weight: bold;
  height:200px
 }
  
img{
width: 100px; 
max-height: 70px;
 }
 
.nivel1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
 
  .contenedor {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .contenedor h3 {
    text-align: center;
  }
  
  h1 {
    text-align: center;
    color: black;
  }
  h3 {
    justify-content: center;
  }
  
  .tarjeta {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  
  .etiqueta {
    background-color:rgba(165, 42, 42, 0.863);
    color: white;
    padding: 10px;
    font-size: 40px;
  }
  
  .contenedor {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
  }
  
  button {
    background-color: rgb(196, 110, 6);
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
  }
  
  
  .linea2 {
    height: 50px;
    position: relative;
  }
  
  .columna2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  