body {
  font-size: 15pt;
  background: linear-gradient(to bottom, rgb(236, 118, 8), rgb(28, 71, 8),rgb(95, 32, 146),rgb(32, 43, 146),rgb(146, 32, 76));
  background-size: 200% 200%;
}
  

.inicio {
  text-align: end;
  font-weight: bold;
  height:200px
 }
  
img{
width: 100px; 
max-height: 70px;
 }

  .contenedores {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .contenedores h3 {
    text-align: center;
  }
  
  h1 {
    text-align: center;
    color: rgb(247, 247, 247);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  h3 {
    justify-content: center;
    color: antiquewhite;
  }
  
  .tarjeta {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  
  .etiqueta {
    background-color: rgb(0, 100, 50);
    color: white;
    padding: 10px;
    font-size: 40px;
  }
  
  .contenedor {
    padding: 10px;
    background-color: rgba(255, 127, 80, 0.712);
    color: white;
  }
  
  button {
    background-color:rgb(187, 37, 37);
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .linea1 {
    height: 50px;
    position: relative;
  }
  
  .columnas {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  